@import-normalize;

@import './styles/reset.scss';

:root {
  --font-family: 'Montserrat', sans-serif;

  --background-color: #181818;
  --main-color: #24B47E;
  --text-color: #E0E0E0;
  --border-color: #2A2A2A;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
}